<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="dir38A6B94A55C1CA6F17AF72ADC52A6DBE" Name="Testing_Heat" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir38A6B94A55C1CA6F17AF72ADC52A6DBE">
            <Component Id="cmp085FA41BA776CA7909B6D790BB90D50F" Guid="PUT-GUID-HERE">
                <File Id="fil1AD1B8A498C3D31A73E5384244424A4D" KeyPath="yes" Source="SourceDir\new File.txt" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir38A6B94A55C1CA6F17AF72ADC52A6DBE">
            <Component Id="cmp6A5D17DF242BCB52EBF1E210A342B33A" Guid="PUT-GUID-HERE">
                <File Id="filC06AF31626132D40460870A899747AD0" KeyPath="yes" Source="SourceDir\new File - Copy (3).txt" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir38A6B94A55C1CA6F17AF72ADC52A6DBE">
            <Component Id="cmp8C92147CCB07BB0C89A4102CFF504CC0" Guid="PUT-GUID-HERE">
                <File Id="filAACA093B99B8A89C0F41899D19296CD0" KeyPath="yes" Source="SourceDir\new File - Copy.txt" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir38A6B94A55C1CA6F17AF72ADC52A6DBE">
            <Component Id="cmpF8693DDCADAE1DB16ECFE3DAA0444C52" Guid="PUT-GUID-HERE">
                <File Id="filCDB2BDDD6B018C10713E1EBE8E1481F1" KeyPath="yes" Source="SourceDir\new File - Copy (2).txt" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>