<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="SimpleDialog" Language="1033" Version="1.0.0.0" Manufacturer="yup" UpgradeCode="d07292b7-6040-426f-84ae-52439355657e">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />


   
    
    
		<Feature Id="ProductFeature" Title="SimpleDialog" Level="1">
      <ComponentRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SimpleDialog" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<Component Id="ProductComponents" Directory="INSTALLFOLDER">
      <File KeyPath="yes" Source="yup.txt" />
		</Component>
	</Fragment>
</Wix>
