<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="ApachePhpService" Language="1033" Version="1.0.0.0" Manufacturer="LA" UpgradeCode="28278b21-9187-4abb-86f6-4cac661da6fb">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
		  <Directory Id="ApplicationRootDirectory" Name="Iag">
			  <Directory Id="ApplicationApacheDirectory" Name="Apache" />
      <Directory Id="ApplicationPhpDirectory" Name="Php" />
		  </Directory>
	  </Directory>


    
    <!-- Create Link our environment variable (IAG) to PATH environment variable-->
    <Component Id="IagEnvVariable"
               Guid="{7F4D627F-FA85-46F4-81C3-6BCBD94DC31B}"
               Directory="ApplicationRootDirectory">
      <CreateFolder/>
    <Environment Id="addIagEnvPathToPath"
                 Name="PATH"
                 Value="%IAG%"
                 Permanent="no"
                 Action="set"
                 System="yes"
                 Part="last"/>
    </Component>    

    <!-- Create Apache value in IAG environment variable -->
    <Component Id="ApacheEnvVariable"
               Guid="{A89FC985-76F6-4E4E-9576-FA23184D203D}"
               Directory="ApplicationRootDirectory">
      <CreateFolder/>
      <Environment Id="addApacheEnvVariable" 
                   Name="IAG" 
                   Value="C:\Iag\Apache\bin"
                   Permanent="no"
                   Action="set"
                   System="yes"
                   Part="last"/>
    </Component>
    
    <!-- Create Php value in IAG environment variable -->
    <Component Id="PhpEnvVariable"
               Guid="{7AAD529D-B178-4D4F-9A6B-2FDBDB57D3D3}"
               Directory="ApplicationRootDirectory">
      <CreateFolder/>
      <Environment 
                  Id="addPhpEnvVar" 
                  Name="IAG"
                  Value="C:\Iag\Php"
                  Permanent="no"
                  Action="set"
                  System="yes"
                  Part="last"/>
    </Component>
    
      
    <!-- Main installation beginning. -->
		<Feature Id="MainFeature" Title="ApachePhpService" Level="1">
      <ComponentRef      Id="IagEnvVariable"/>
      
			<ComponentGroupRef Id="ApacheFilesGroup" />
      <ComponentRef      Id="ApacheEnvVariable" />
    
      <ComponentGroupRef Id="PhpFilesGroup" />
      <ComponentRef      Id="PhpEnvVariable"/>
		</Feature>		
  
    <!-- Install httpd service -->
    <InstallExecuteSequence>      
      <Custom Action="installHttpService" After="InstallInitialize" />
      <Custom Action="startHttpService" After="InstallInitialize" />
    </InstallExecuteSequence>        
	</Product>

  
  
  
  <!-- Services -->
  <Fragment>    <!-- Not using this one -->
    <CustomAction Id="removeHttpService"
                  Directory="dirE48640D99CAF2CC8F12F346D465932BA"
                  Execute="commit"
                  Impersonate="no"
                  ExeCommand="cmd.exe /C httpd -k uninstall"
                  Return="ignore"/>
  </Fragment>
    
  <Fragment>
    <CustomAction Id="installHttpService"
                  Directory="dirE48640D99CAF2CC8F12F346D465932BA"
                  Execute="commit"
                  Impersonate="no"
                  ExeCommand="cmd.exe /C C:\Iag\Apache\bin\httpd.exe -k install"
                  Return="ignore"
                  />
  </Fragment>
  
  <Fragment>
    <CustomAction Id="startHttpService"
                  Directory="dirE48640D99CAF2CC8F12F346D465932BA"
                  Execute="commit"
                  Impersonate="no"                  
                  ExeCommand="cmd.exe /C C:\Iag\Apache\bin\httpd.exe -k start"
                  Return="ignore" />
  </Fragment>
</Wix>
