<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Bundle Name="FirstBootstrapBundle" Version="1.0.0.0" Manufacturer="Attempts" UpgradeCode="30ae5d19-2ceb-4f6b-81b0-33110eef25b6">    
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />
      <Chain>
        
        <!-- Kick off vc_redist-->
        <ExePackage SourceFile="vc_redist.x64.exe" /> 
        <!-- Kick off our application installation -->          
        <MsiPackage SourceFile="FirstAttemptForAIG.msi">
          <MsiProperty Name="INSTALLFOLDER" Value='INSTALLDIR' />
        </MsiPackage>


    </Chain>    
  </Bundle>
  

</Wix>
