<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='Foobar 1.0' Id='7d879d53-ec17-4c5d-9413-3ee0135cf055' UpgradeCode='fb988ef0-2055-4e4d-8e2c-90380ff58378'
    Language='1033' Codepage='1252' Version='1.0.0' Manufacturer='Acme Ltd.'>
  
    <!-- This stanza is information about the installer itself - the .msi package -->
    <Package Id='*' Keywords='Installer'
      Description="Acme's Foobar 1.0 Installer"
      Comments='Foobar is a registered trademark of Acme Ltd.' Manufacturer='Acme Ltd.'
      InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252'
      InstallScope='perMachine'/>

    <Property Id="INSTALLDIR">
      <RegistrySearch Id='AcmeFoobarRegistry' Type='raw' Root='HKLM' Key='Software\Acme\Foobar 1.0' Name='InstallDir' />
    </Property>
  <!-- What do you want to show if you have a newer version already installed. -->
    <MajorUpgrade />
    <!-- If we set this to yes it will make the installer all one file, otherwise we will get a second file (cab file). -->
    <!-- If you had to do this on multiple disks this is where we would do it. -->
    <MediaTemplate EmbedCab='yes'/>
    
    <!-- Features is where we can allow the user to choose which components they want to install, can split up installation process. -->
    <Feature Id=''></Feature>
    <!-- The windows UI for this and the different Id's give us different types of windows, we selected the most 
      minimal one.
    -->
    <!-- 
      WixUI_Advanced
      WixUI_FeatureTree
      WixUI_InstallDir
      WixUI_Minimal
      WixUI_Mondo
    -->
    <UIRef Id='WixUI_Minimal' />
      
    
    
    
    <!-- Always have TARGETDIR the root directory -->
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='Acme' Name='Acme'>
          <Directory Id='INSTALLDIR' Name='Foobar 1.0'>

            <Component Id='MainExecutable' Guid='88b87379-14cb-49b8-b610-a1a42f31fe65'>
              <File Id='FoobarEXE' Name='FoobarAppl10.exe' Source='FoobarAppl10.exe' KeyPath='yes'>
                <Shortcut Id="startmenuFoobar10" Directory="ProgramMenuDir" Name="Foobar 1.0" WorkingDirectory='INSTALLDIR' Icon="Foobar10.exe" IconIndex="0" Advertise="yes" />
                <Shortcut Id="desktopFoobar10" Directory="DesktopFolder" Name="Foobar 1.0" WorkingDirectory='INSTALLDIR' Icon="Foobar10.exe" IconIndex="0" Advertise="yes" />
              </File>
            </Component>

            <Component Id='HelperLibrary' Guid='47805776-5776-4c01-b329-45503e575bfc'>
              <File Id='HelperDLL' Name='Helper.dll' DiskId='1' Source='Helper.dll' KeyPath='yes' />
            </Component>

            <Component Id='Manual' Guid='4ba013be-5367-4e41-a395-d0c70920d4ac'>
              <File Id='Manual' Name='Manual.pdf' DiskId='1' Source='Manual.pdf' KeyPath='yes'>
                <Shortcut Id="startmenuManual" Directory="ProgramMenuDir" Name="Instruction Manual" Advertise="yes" />
              </File>
            </Component>

          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Foobar 1.0">
          <Component Id="ProgramMenuDir" Guid="381711f0-98d4-4b03-8a12-fb1a4b765c28">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall'/>
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <Feature Id='Complete' Level='1'>
      <ComponentRef Id='MainExecutable' />
      <ComponentRef Id='HelperLibrary' />
      <ComponentRef Id='Manual' />
      <ComponentRef Id='ProgramMenuDir' />
    </Feature>

    <Icon Id="Foobar10.exe" SourceFile="FoobarAppl10.exe" />

    
    
  </Product>
</Wix>
