<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="ApplicationPhpDirectory">
            <Directory Id="dir70409B20DD230304A64B750C19323D95" Name="dev" />
            <Directory Id="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Name="ext" />
            <Directory Id="dirDABE28A6579C01DDFCEB4DECAFEA7866" Name="extras" />
            <Directory Id="dirF72838C35656A854BD9E78DEFE377913" Name="lib" />
            <Directory Id="dir54E6D003C6C1B6CDD1271F949C953C1E" Name="sasl2" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PhpFilesGroup">
            <Component Id="cmp7D8CCFA65771DD91B0BED652059D78CF" Directory="ApplicationPhpDirectory" Guid="CCA9521F-1B44-49CF-BEC3-57C8FBCB8E34">
                <File Id="filB80BE5CC4BB848AF7376AADB44EAFE74" KeyPath="yes" Source="requisites\php\deplister.exe" />
            </Component>
            <Component Id="cmp3BAD0869FD9C0DF5A676F05F8F396226" Directory="ApplicationPhpDirectory" Guid="DAEC2A62-BCEA-4CC0-A66C-2A314ADCC87F">
                <File Id="fil0153FD807991715B9E0F093072276174" KeyPath="yes" Source="requisites\php\glib-2.dll" />
            </Component>
            <Component Id="cmp4D058880FDC3026E04D9887B97DF9EF8" Directory="ApplicationPhpDirectory" Guid="65535169-F0F9-4F14-9C4A-292D20D248B0">
                <File Id="fil545C175597830CF83318D79AA7C62FA1" KeyPath="yes" Source="requisites\php\gmodule-2.dll" />
            </Component>
            <Component Id="cmp00D33F695758041A24C2ACE1405741F1" Directory="ApplicationPhpDirectory" Guid="4EEB4704-2508-4065-96ED-6A4AB5C7FF05">
                <File Id="fil92561BB55725B26473861086A3FC32F3" KeyPath="yes" Source="requisites\php\go-pear.phar" />
            </Component>
            <Component Id="cmp59FDE1D8E7F71C3136CA371D56E12D40" Directory="ApplicationPhpDirectory" Guid="0C0BBBAD-6AD5-4E5D-B5EF-C368D76AEBEA">
                <File Id="fil0CF932E66D9E5A34E130846F9F9F6B9E" KeyPath="yes" Source="requisites\php\icudt57.dll" />
            </Component>
            <Component Id="cmp85131DAA56F444EBD3D2BA94FA30B003" Directory="ApplicationPhpDirectory" Guid="434A190A-5746-4181-A541-19A83D002EA9">
                <File Id="filE402DDCD4ABF94257AB91FC5BBADE800" KeyPath="yes" Source="requisites\php\icuin57.dll" />
            </Component>
            <Component Id="cmpFEA18FD6847BC907BFF9C9025DBE224E" Directory="ApplicationPhpDirectory" Guid="99FA23F7-A3BB-4B10-81A2-6C4EB095A221">
                <File Id="filCD4F52AF80EB579C46768318FEE3FEB2" KeyPath="yes" Source="requisites\php\icuio57.dll" />
            </Component>
            <Component Id="cmpD142FDCBB00793EDF21A6B19038324A5" Directory="ApplicationPhpDirectory" Guid="A4F921AE-650D-4D61-B836-99C3644C5EA5">
                <File Id="fil599DD0A79D0928559C821D05A99EA437" KeyPath="yes" Source="requisites\php\icule57.dll" />
            </Component>
            <Component Id="cmp1365CE63DDA1C3695F863E76A172A20D" Directory="ApplicationPhpDirectory" Guid="5AEFF3C7-46B4-4AAF-9260-0F78B9FF90C8">
                <File Id="filA05D22ADBD55BD1C17FB0B5780100C1C" KeyPath="yes" Source="requisites\php\iculx57.dll" />
            </Component>
            <Component Id="cmp61BB10CD44BAED0FA3EEAA7485F9A246" Directory="ApplicationPhpDirectory" Guid="CD9401C8-E9FA-4A01-A5CD-2568EBB24A8B">
                <File Id="fil8DE64EF7A270E4D9C845C72609838BB3" KeyPath="yes" Source="requisites\php\icuuc57.dll" />
            </Component>
            <Component Id="cmp7975A43F89F086E54E2CB6A738B45E81" Directory="ApplicationPhpDirectory" Guid="2C6AF208-F0E5-47BE-93E0-2BB40EFF0C4B">
                <File Id="filCAC3396ECA4DC3DAC909051FD891D82D" KeyPath="yes" Source="requisites\php\install.txt" />
            </Component>
            <Component Id="cmp7A10BD859686A0762009AE872D5C2401" Directory="ApplicationPhpDirectory" Guid="34ACA4DF-03BF-4B3C-B1AF-45C1BF935CAB">
                <File Id="fil94EBCE4D8E77890AAA7F9ECC5EB05B45" KeyPath="yes" Source="requisites\php\libeay32.dll" />
            </Component>
            <Component Id="cmpB8B1FCDC426EE428DC167D6E9CE39B70" Directory="ApplicationPhpDirectory" Guid="977AFC1D-C73B-4061-ADB8-A7F9A8788414">
                <File Id="fil087324E4B11074527FC5BE897CDE15EE" KeyPath="yes" Source="requisites\php\libenchant.dll" />
            </Component>
            <Component Id="cmp6E904B991679E6F1108675E712907BEC" Directory="ApplicationPhpDirectory" Guid="2A7E14C4-0503-4DB7-AA54-06A6032CD554">
                <File Id="fil4F7F63AEC6AEC771DACF1449CC42915A" KeyPath="yes" Source="requisites\php\libpq.dll" />
            </Component>
            <Component Id="cmp93097AD27BCD26B28FEA207E41E0904C" Directory="ApplicationPhpDirectory" Guid="604906DE-4628-4152-8F4A-41A040802C13">
                <File Id="fil4DA84B19AA2BFD3EB7FB1C2468575D1E" KeyPath="yes" Source="requisites\php\libsasl.dll" />
            </Component>
            <Component Id="cmp1E365B5369B395D4CC774C2F06A4CC60" Directory="ApplicationPhpDirectory" Guid="2D92CF5E-C370-4F54-BB43-400604D30F89">
                <File Id="fil24249781CAAA40108AE287CA22C17BF6" KeyPath="yes" Source="requisites\php\libssh2.dll" />
            </Component>
            <Component Id="cmpDFADC7DF29FED2B21E1D6E015A79CC9B" Directory="ApplicationPhpDirectory" Guid="EBEDA413-2724-49C7-A180-7643860442DA">
                <File Id="fil9EB391BDDE0E3414159F21E78222F579" KeyPath="yes" Source="requisites\php\license.txt" />
            </Component>
            <Component Id="cmp57D88169259500F0AC7205A18549CE8A" Directory="ApplicationPhpDirectory" Guid="583EF2F3-CB46-4EB7-BACF-F3DE14446259">
                <File Id="fil14DAD19522605F1167F9682F55904C13" KeyPath="yes" Source="requisites\php\news.txt" />
            </Component>
            <Component Id="cmp3748A522BDCD8835E9FC151C978C2EF3" Directory="ApplicationPhpDirectory" Guid="E0C2FAA7-11D9-49CB-9C36-DC7C1562173A">
                <File Id="filEFB6917F78A149D263863F859A55EB9E" KeyPath="yes" Source="requisites\php\phar.phar.bat" />
            </Component>
            <Component Id="cmp718D0CA92BAABCD5F3BF1F6EF7E2EC75" Directory="ApplicationPhpDirectory" Guid="1D3E94E2-5BA4-4E20-9683-CA551DB4793C">
                <File Id="filB5A09D75BEE36766C585E18CF3B4E3BF" KeyPath="yes" Source="requisites\php\pharcommand.phar" />
            </Component>
            <Component Id="cmp80EE3338A6A2F02AE158C924156290D0" Directory="ApplicationPhpDirectory" Guid="C7A1678E-15CC-44C4-BE8B-5A1C3C9F3166">
                <File Id="fil466D9DB9EF540A2C08A1D9CB2E400D5B" KeyPath="yes" Source="requisites\php\php-cgi.exe" />
            </Component>
            <Component Id="cmp22F30B90E35FEE02450EE69CD34CF0CC" Directory="ApplicationPhpDirectory" Guid="DA5C145E-5889-435D-9FDD-65BDCBED5F6F">
                <File Id="filB061E17B918F9D2011760C4865E39A30" KeyPath="yes" Source="requisites\php\php-win.exe" />
            </Component>
            <Component Id="cmp0B11562B280906B92B5EA1096175D60D" Directory="ApplicationPhpDirectory" Guid="6C338439-D15D-4F7C-A23B-D0E0F6BEB68C">
                <File Id="fil311039526DC610506472BF489DE82250" KeyPath="yes" Source="requisites\php\php.exe" />
            </Component>
            <Component Id="cmp3C62C1AA8347E01820B5E66E7F83F6BE" Directory="ApplicationPhpDirectory" Guid="A0481899-64CE-484E-BEE2-E5358AA38AB5">
                <File Id="fil4179B7B8B2F1BA4105B058D45D1FB1BE" KeyPath="yes" Source="requisites\php\php.gif" />
            </Component>
            <Component Id="cmp91863FE1A8BF87AFBBAFC9967B044DAC" Directory="ApplicationPhpDirectory" Guid="CA9572D4-B994-450B-9AC9-15E6A50B95AA">
                <File Id="fil5A443734A7E35E9B9287727AD5B66AC9" KeyPath="yes" Source="requisites\php\php.ini" />
            </Component>
            <Component Id="cmp04D163F215CB28FCF8C1332F42AC8A86" Directory="ApplicationPhpDirectory" Guid="8432222B-07C3-49EF-86E2-93CFBC23399D">
                <File Id="filA645B9AD088AE0C642CEC9FF4E5B25AF" KeyPath="yes" Source="requisites\php\php.ini-production" />
            </Component>
            <Component Id="cmpCC92CA764832BE38E7F6BEDD9C24C786" Directory="ApplicationPhpDirectory" Guid="E8AF6199-A17B-4440-A989-13CA56907F16">
                <File Id="fil183FC64592D1C0761658948758272170" KeyPath="yes" Source="requisites\php\php7.dll" />
            </Component>
            <Component Id="cmpEDCAF6342C0861211CFDB2B239C07927" Directory="ApplicationPhpDirectory" Guid="45F52560-1F77-4D98-B1D3-EB956F9B44B0">
                <File Id="fil46F19B74BEF4C6262F4AC87D49390FFD" KeyPath="yes" Source="requisites\php\php7embed.lib" />
            </Component>
            <Component Id="cmp5D2F89FCF736085F16432168E4A620F7" Directory="ApplicationPhpDirectory" Guid="85DD4BD5-C186-4D9A-B9A7-481EEC2E27BF">
                <File Id="fil9619ADFEC31780DFC7D0878B8AF9946A" KeyPath="yes" Source="requisites\php\php7phpdbg.dll" />
            </Component>
            <Component Id="cmpB7D32C235303180073141DA07EFA1CEE" Directory="ApplicationPhpDirectory" Guid="4DA33600-046C-4F4E-B998-CE2B62F22E98">
                <File Id="fil9E066B9B4EA3C74F6B4B6F226B73E951" KeyPath="yes" Source="requisites\php\phpdbg.exe" />
            </Component>
            <Component Id="cmp19FB313E8DCFBD661EF1AD4C4DED75B0" Directory="ApplicationPhpDirectory" Guid="2160F0B1-FFEE-4283-B69E-C3B457A32061">
                <File Id="fil926D6E101F4CF881E4D32FB4904CD056" KeyPath="yes" Source="requisites\php\readme-redist-bins.txt" />
            </Component>
            <Component Id="cmp8DAF1E3070ACBE4614F7E36D1B6DDDC6" Directory="ApplicationPhpDirectory" Guid="C821DE12-9117-4EA5-94C5-74A58BB7D4D4">
                <File Id="fil2F303595EB02FA8B1B8C7F72E1DC148A" KeyPath="yes" Source="requisites\php\snapshot.txt" />
            </Component>
            <Component Id="cmp8EC8A9647449DEAA4C3C8B1BC952D067" Directory="ApplicationPhpDirectory" Guid="51957E6D-8651-45C0-A809-F234ECEB7D30">
                <File Id="filD3C92F62D058D9841D52A000DB82FAF2" KeyPath="yes" Source="requisites\php\ssleay32.dll" />
            </Component>
            <Component Id="cmpB0DA3A612F4306CBBF39037EC30B3F43" Directory="dir70409B20DD230304A64B750C19323D95" Guid="4FA449D7-289C-414F-A49B-9ECE7607F290">
                <File Id="fil5F529A9F2DF5EFC6F2E2DCAD084DF04D" KeyPath="yes" Source="requisites\php\dev\php7.lib" />
            </Component>
            <Component Id="cmpE7EA14ED1D727D7E8C0A9B3AC0EE2998" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="A0513F31-EF3C-431E-8B89-9CDE2ADA52C9">
                <File Id="fil35A08C0B1EB75773FD2F6AEF58BB7AD3" KeyPath="yes" Source="requisites\php\ext\composer.json" />
            </Component>
            <Component Id="cmpDD9A2DBFD4F7586B5F424CC134FDF5F8" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="283A5643-3E8D-44B6-90D1-2038001FE04A">
                <File Id="filBBA3E6BA52F54FEF14B43C2D6EACFA29" KeyPath="yes" Source="requisites\php\ext\CREDITS" />
            </Component>
            <Component Id="cmpCAB9F9B3EBDF2BE10E64BDDE5F236579" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="C52263DE-FF0D-4D37-95F0-4C0B4E5A2042">
                <File Id="fil4021B23AB3BB6B6146F14883C8FB3098" KeyPath="yes" Source="requisites\php\ext\LICENSE" />
            </Component>
            <Component Id="cmp05ABCEC3F664F5F893E1B82D24E6A828" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="10F7512E-D944-4CC4-9CD3-69E138E3960A">
                <File Id="fil540F190E79392D8743A70A573960A8E2" KeyPath="yes" Source="requisites\php\ext\php_bz2.dll" />
            </Component>
            <Component Id="cmpD252667E37354EFB8B9617530AEDC328" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="A8B3B11C-5161-41F7-9806-7EDDBF42B9CC">
                <File Id="fil0998EC146C2DA8B6186EC0A0A102174A" KeyPath="yes" Source="requisites\php\ext\php_com_dotnet.dll" />
            </Component>
            <Component Id="cmpC7863A2F3B46A581C338D77AE55C595A" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="AAE122E3-0F56-4577-B0BA-7C37A27B220F">
                <File Id="fil191760012E97449B436D773C3C80C580" KeyPath="yes" Source="requisites\php\ext\php_curl.dll" />
            </Component>
            <Component Id="cmp982AD381EDF991D234E695B75AF38BCB" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="44342BC1-5AF4-487F-A501-54E9E45D2367">
                <File Id="fil3E2CF66AF32FB1F98B4B48FF3371631D" KeyPath="yes" Source="requisites\php\ext\php_doublemetaphone.dll" />
            </Component>
            <Component Id="cmp6CE348D8BB69D1438907CBA8846DAD45" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="03238E50-0D22-4A5E-BBD7-7DCD0203CAFA">
                <File Id="filEC5536E3B138C9EA9A65DF657EBBEE06" KeyPath="yes" Source="requisites\php\ext\php_doublemetaphone.pdb" />
            </Component>
            <Component Id="cmpFF8817DF1F525B4433C15762EA32446C" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="14EFD26E-D12A-4FC5-B1E7-2996855E98AF">
                <File Id="filBA516598A4E158FC33B246BB60728547" KeyPath="yes" Source="requisites\php\ext\php_enchant.dll" />
            </Component>
            <Component Id="cmp1058C144A0389679D7FADFD402A5EFD3" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="84D73544-35E1-4AAF-91BA-D595DFD3395D">
                <File Id="filB9A7B3C8513DA8A6D67DF40473994DE7" KeyPath="yes" Source="requisites\php\ext\php_exif.dll" />
            </Component>
            <Component Id="cmpE8A2E129299F7B7C852FF2EC793199EC" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="99F6E19B-4CD0-4246-8EBA-172481BD820E">
                <File Id="filC57A9964E47FFBAEF2E7DA86A860BEB3" KeyPath="yes" Source="requisites\php\ext\php_fileinfo.dll" />
            </Component>
            <Component Id="cmp8BD90B0AC85C57BA63D0ACDE8D51249C" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="8CEB40A9-A620-4866-A3FE-F8E2F041A83C">
                <File Id="filEB76831B1F4FACA08B40FBE948E6B6DC" KeyPath="yes" Source="requisites\php\ext\php_ftp.dll" />
            </Component>
            <Component Id="cmpE949D50CEDB03E9B8CDCBE9A90E72D29" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="B4CB389A-9F55-4AFD-9114-5EB66DE9D260">
                <File Id="filF2223A44C2D6912469552864CBC2E009" KeyPath="yes" Source="requisites\php\ext\php_gd2.dll" />
            </Component>
            <Component Id="cmp0049AC1C8BBCF39C4850EF0E40BD2D88" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="23340AAB-2123-4A23-AE1D-986B02AE302E">
                <File Id="fil4C6E01E6122081C50647D936F5C02DA9" KeyPath="yes" Source="requisites\php\ext\php_gettext.dll" />
            </Component>
            <Component Id="cmpE7D5B62281D1163F03AC7E89D72BC3A9" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="4EC6DF22-33FD-4B1C-BDED-9994BA89DD63">
                <File Id="fil6A5ECDDEADC9CE345760B27C3332423D" KeyPath="yes" Source="requisites\php\ext\php_gmp.dll" />
            </Component>
            <Component Id="cmpD4AEA859479597AB017BC128D227673B" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="8FBF7B49-244B-4EFC-980D-22C52C75F980">
                <File Id="filB7061641CD5EA0A68EDB61BF3BD992EF" KeyPath="yes" Source="requisites\php\ext\php_imagick.dll" />
            </Component>
            <Component Id="cmpBA4961F0626165C75EEA28B59CB259B5" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="804CBCD7-E570-42BF-B7B5-1DF3C0C428BC">
                <File Id="fil5CE4A8046C5DCEE51F7DEB469D62CE49" KeyPath="yes" Source="requisites\php\ext\php_imap.dll" />
            </Component>
            <Component Id="cmpBD5072BD44590D803309FAB7D3E6819E" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="79EE9171-343D-4BD3-8ED8-160CA1088A1E">
                <File Id="fil64EC1F35497333DA1635DA3355517536" KeyPath="yes" Source="requisites\php\ext\php_interbase.dll" />
            </Component>
            <Component Id="cmpABF447591061A25BC8FF84417D31BA8C" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="63D7F8A1-F0B6-4E76-95B5-4EBBB31E6F26">
                <File Id="fil330F9471A724256DF25B6567F1F72A25" KeyPath="yes" Source="requisites\php\ext\php_intl.dll" />
            </Component>
            <Component Id="cmp4B685B1BADBB843B06C5DF8A40750A89" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="D1528BE9-DCD5-40B6-BBDE-8F2B2D95FCE8">
                <File Id="fil4439B573701E62EDC116C4F5A4F4220F" KeyPath="yes" Source="requisites\php\ext\php_ldap.dll" />
            </Component>
            <Component Id="cmp039317F29D3CEBAA693DCB0D2BEE07E5" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="F1BDBDCA-FCD9-4BEC-8CAD-D093828DF1EB">
                <File Id="fil99621EA6A40C3DEFE662B5C1FAEF8F24" KeyPath="yes" Source="requisites\php\ext\php_mbstring.dll" />
            </Component>
            <Component Id="cmp69DED12E16E4B554BC8F5B9D07C62840" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="1CC8DCEC-C9D1-4D87-A4BA-7BDD23649A39">
                <File Id="filFB0655D797A2CBD92583FA765CADA5FE" KeyPath="yes" Source="requisites\php\ext\php_mysqli.dll" />
            </Component>
            <Component Id="cmp153DD88E5169670E18492C96C4A55A15" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="B3E4719D-6938-49A3-813F-04809E81D187">
                <File Id="filF2C68C9C4CF2C9F354BAB644982A25ED" KeyPath="yes" Source="requisites\php\ext\php_oci8.dll" />
            </Component>
            <Component Id="cmp8E0F8B4F86FCE7F08487C13A13162BAF" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="85D099A4-13F8-4CEF-BAA0-6B37DA8F8C0C">
                <File Id="filD7BEFAD29302FCA7F4104D7CBFA81165" KeyPath="yes" Source="requisites\php\ext\php_oci8.pdb" />
            </Component>
            <Component Id="cmp7B12A1C6ADE6ACC1228D1D7D2B7FDAE4" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="CE0F2806-B4A9-40B5-9581-9471AF66F4F5">
                <File Id="filD2D433874711D28E20B398792F60DAB5" KeyPath="yes" Source="requisites\php\ext\php_oci8_11g.dll" />
            </Component>
            <Component Id="cmp9241A5ED83028A495F8B4E3D0966009E" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="1D76E038-203B-463F-BAFC-E594DFD2D44A">
                <File Id="filBDA229612B6CC09A9DE9F8EBC02A2D51" KeyPath="yes" Source="requisites\php\ext\php_oci8_11g.pdb" />
            </Component>
            <Component Id="cmp152A7229B865DC7FA7CFE1FC89AEAD1C" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="94EC5EAE-3CCB-49E5-AAD9-CE7724078D3E">
                <File Id="fil8F66D493120F2111C11BF890D49D25EC" KeyPath="yes" Source="requisites\php\ext\php_oci8_12c.dll" />
            </Component>
            <Component Id="cmp7DB805DDE980D4301A5C0E66FDEFFAC5" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="CECBE7AF-965A-4EE3-9A12-86EE98F41EDD">
                <File Id="fil33D1FF43412C44BE9BC0C4E3E5BD31BF" KeyPath="yes" Source="requisites\php\ext\php_oci8_12c.pdb" />
            </Component>
            <Component Id="cmp49C4D1152A3C1511358634AA9527B454" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="9664B3B3-A544-491C-98C1-CFB281FEFD7D">
                <File Id="fil8DC571B395AD744B1F6DCB9C521FA0E3" KeyPath="yes" Source="requisites\php\ext\php_odbc.dll" />
            </Component>
            <Component Id="cmp12A26A6F941AA1F13E746603D5BB1A2E" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="C0C52229-F947-4B8A-BBDC-3FBC7BA00ECB">
                <File Id="filD6A14080125AFF7D6AF0429CBEC7D429" KeyPath="yes" Source="requisites\php\ext\php_opcache.dll" />
            </Component>
            <Component Id="cmpF3A77A01D76E6B1F6D3916B8147C261F" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="FEB1E1D6-A1C4-476C-8B62-86D6AF7A96B7">
                <File Id="fil3F546C9048CBA65E70E5118697BBAEB3" KeyPath="yes" Source="requisites\php\ext\php_openssl.dll" />
            </Component>
            <Component Id="cmp00729F263EDE3C9ED5DB05B1823A5198" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="BF1DA6C0-C39B-4D5A-97F8-9314A6E754ED">
                <File Id="fil7684D5D662E5AFDD9A85FC48AE6DD40E" KeyPath="yes" Source="requisites\php\ext\php_pdo_firebird.dll" />
            </Component>
            <Component Id="cmp80A010CD4FEF4125F33F9287400245B2" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="FE655BBF-0F2B-4381-917F-529A32157BA2">
                <File Id="filFC7938FA3C5D483209135A0D8A2F9978" KeyPath="yes" Source="requisites\php\ext\php_pdo_mysql.dll" />
            </Component>
            <Component Id="cmp782E3441D60A6B4B83C66B6A0A13BB37" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="3B5F2ECB-F38C-462F-A4E5-D19882B89E4A">
                <File Id="fil38856AD00F00162B28BC03B2AA41A259" KeyPath="yes" Source="requisites\php\ext\php_pdo_oci.dll" />
            </Component>
            <Component Id="cmpD1051662B5FABA9ADC9DEE54451D6A61" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="37995CE1-7A9E-4FA4-A1F2-108979E9FB09">
                <File Id="fil3E7104E0FECEFDF0D4B0202ABD0B30FC" KeyPath="yes" Source="requisites\php\ext\php_pdo_odbc.dll" />
            </Component>
            <Component Id="cmp5D69BE5D05D1292AB893184D66734B60" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="A871D225-BB0C-40CF-9967-B81C6F5A57A3">
                <File Id="fil14A544D61982E5FB147822315D9E652B" KeyPath="yes" Source="requisites\php\ext\php_pdo_pgsql.dll" />
            </Component>
            <Component Id="cmp0FB926EC7F27A030C5B4294CF3146303" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="CBEB4BB0-378F-4AC2-897D-57B3BE7AC52B">
                <File Id="fil2039EB334CEDF1F8CF3D6A63DD5CB131" KeyPath="yes" Source="requisites\php\ext\php_pdo_sqlite.dll" />
            </Component>
            <Component Id="cmpA87E3109C582602366A9A4E3DEE4F4F8" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="296080D9-CB37-4488-BE7D-EFCCA03857AD">
                <File Id="filB895325FA18E475E17C63AA3325A3C14" KeyPath="yes" Source="requisites\php\ext\php_pdo_sqlsrv_7_nts_x64.dll" />
            </Component>
            <Component Id="cmpD0AC9DDA710379DF6D1956C49ABA16A3" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="388AC885-4BEB-4035-9E49-B0987F14E984">
                <File Id="fil66F5BB176F37E6258ACA9084DD65AF19" KeyPath="yes" Source="requisites\php\ext\php_pgsql.dll" />
            </Component>
            <Component Id="cmpC8B999B61D290229F5B6291DE87975B8" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="2FA11368-3871-4AE7-B273-F7EBC4A053A3">
                <File Id="filD89D10713A79D328DEF461D57993F0D3" KeyPath="yes" Source="requisites\php\ext\php_phpdbg_webhelper.dll" />
            </Component>
            <Component Id="cmp917EFD880364C9B41DD5440D2522FFF2" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="A892C0C4-C1C2-4F40-A731-53DD65A90C75">
                <File Id="fil915B4BAF250285324CDDB98C32F98EC5" KeyPath="yes" Source="requisites\php\ext\php_redis.dll" />
            </Component>
            <Component Id="cmpD928FAB80BCFE5D54B33CBD74D9839B6" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="D2A31E31-AC6D-499B-A64D-D80D1D59C3E6">
                <File Id="fil8EFF3B32A6078A72B4D8566DDB1F30CC" KeyPath="yes" Source="requisites\php\ext\php_shmop.dll" />
            </Component>
            <Component Id="cmp6B94D6111C16ED41D8E4D191AFAF975C" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="E3B0C04A-9460-4B74-8AE4-9FCEAD2CA2E3">
                <File Id="fil9841BD719412A2556D17D8F32785B389" KeyPath="yes" Source="requisites\php\ext\php_snmp.dll" />
            </Component>
            <Component Id="cmp230BC3071B03CC399557B22B7A8FDA54" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="3CB77138-D7DC-4C38-9555-84AB28CF5557">
                <File Id="filE6621273213B84FC80FD6B87BE14980F" KeyPath="yes" Source="requisites\php\ext\php_soap.dll" />
            </Component>
            <Component Id="cmpF89D759A291A3BE7884F58EC501F3C45" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="43F68201-41EF-4EA0-B539-4E43B161FFDA">
                <File Id="fil9A2E95D8492A38741DEA5D70936CFF8C" KeyPath="yes" Source="requisites\php\ext\php_sockets.dll" />
            </Component>
            <Component Id="cmpDB81BA4B9EF89B113A9D7ACAA9808BA3" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="824695F2-4859-4EEC-A96A-09B9D7D8A6B4">
                <File Id="fil1F9D1D2964D523635692997C5FBE3E8E" KeyPath="yes" Source="requisites\php\ext\php_sqlite3.dll" />
            </Component>
            <Component Id="cmpA0578FDCBCC469A476327266D7C7F2D6" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="08F2A307-80DC-4D24-A060-C1FD8FF01955">
                <File Id="filF7718A9D82204606461D26067AD893C9" KeyPath="yes" Source="requisites\php\ext\php_sqlsrv_7_nts_x64.dll" />
            </Component>
            <Component Id="cmpF2C402135977F1B2C7B66AA7F316600C" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="3566872D-99A1-4ABD-8C3B-8C30BEB76C8B">
                <File Id="filB20CE38513DCBB333839AF0305300E30" KeyPath="yes" Source="requisites\php\ext\php_sysvshm.dll" />
            </Component>
            <Component Id="cmp734F186EB2A7A64F00A28488605EC8CF" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="E3687825-59CA-4644-9387-32F96EEF15F1">
                <File Id="fil9BC79BB6837FFFFDA26B4AA072F4E496" KeyPath="yes" Source="requisites\php\ext\php_tidy.dll" />
            </Component>
            <Component Id="cmp94E676C072F57A2749D9AA21EA573FF9" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="EA06C844-FEB1-4C65-9519-17ECEB0783C6">
                <File Id="filAED16B14D7AD47654110B5929EED1BA6" KeyPath="yes" Source="requisites\php\ext\php_wincache.dll" />
            </Component>
            <Component Id="cmp255744C8B9E9FE16C791B50E9A457559" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="A568B7ED-11AB-456D-9675-0025C0055C54">
                <File Id="fil5A977DF0D82EF89AF6CED30284C44529" KeyPath="yes" Source="requisites\php\ext\php_xdebug-2.4.1-7.0-vc14-nts-x86_64.dll" />
            </Component>
            <Component Id="cmp9F1D2F590E01F120D4AF5E7FFCA8C12F" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="8DB6DC73-FE20-4FD4-B4D8-2A5F76FA311D">
                <File Id="fil686D9B22727FA5F924CE9DBDE8C49683" KeyPath="yes" Source="requisites\php\ext\php_xmlrpc.dll" />
            </Component>
            <Component Id="cmpD7A2981645D0DCBE300B29E6A1EC2D65" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="DE9AFBFB-304E-415D-9368-C9BE6EDC1E1D">
                <File Id="fil04DE5916E2CBB5E899AFE59F5B988754" KeyPath="yes" Source="requisites\php\ext\php_xsl.dll" />
            </Component>
            <Component Id="cmp33B5F77455DD8910D63CA759D50B4CC7" Directory="dirFAE1B4EEB61C8B2D286C694F0A17AF3D" Guid="71D156EB-92F6-4F3D-BFC2-6C5A4A0E207C">
                <File Id="fil153E259AF18B93DBC7C01A1F058116D6" KeyPath="yes" Source="requisites\php\ext\README" />
            </Component>
            <Component Id="cmp73BB955FC532151C7C5274B2C34C2FD2" Directory="dirDABE28A6579C01DDFCEB4DECAFEA7866" Guid="B78E0046-974E-4785-BBE3-50F0CC0274DA">
                <File Id="fil535A474E0B8171BDD2945494CF0C5BFE" KeyPath="yes" Source="requisites\php\extras\full_php_browscap.ini" />
            </Component>
            <Component Id="cmp108791ACFA34DD20553CFD4EABCBC29B" Directory="dirDABE28A6579C01DDFCEB4DECAFEA7866" Guid="85EE0492-ED60-49C8-962E-8FDC80A4B530">
                <File Id="fil80F47E13FC5580BCE3696586A3861A08" KeyPath="yes" Source="requisites\php\extras\php_browscap.ini" />
            </Component>
            <Component Id="cmpECECCCFF44F4F2CD9F2B540E97581B85" Directory="dirACC23EAE43D0C068259FA2C5D409C9C2" Guid="7C288421-CA29-475A-B21B-F348AB924E6D">
                <File Id="fil771B0380F28918C2B37E7EE956F6ED3A" KeyPath="yes" Source="requisites\php\extras\ssl\openssl.cnf" />
            </Component>
            <Component Id="cmp52C12E8BF01DBA602A6416BDF58DD6C5" Directory="dirDCD70B317DD8474D71E02595D52ACA76" Guid="D8AB2B1D-2EC4-46FD-A8BB-355E11A7D5DD">
                <File Id="filD6FE1D380D539DC9FF2FF1C06A3D2A59" KeyPath="yes" Source="requisites\php\lib\enchant\libenchant_ispell.dll" />
            </Component>
            <Component Id="cmpD8CEC1D3052988DDD63076C34F69EF8B" Directory="dirDCD70B317DD8474D71E02595D52ACA76" Guid="204CAFFA-CB51-4AD4-B386-D0A7181BB819">
                <File Id="filF14E916E12A4CEE4671BB969E932FD11" KeyPath="yes" Source="requisites\php\lib\enchant\libenchant_myspell.dll" />
            </Component>
            <Component Id="cmp44C803B6828F97FDB2B6F1BCDA8EB0B1" Directory="dir54E6D003C6C1B6CDD1271F949C953C1E" Guid="836F5488-0007-4784-A612-9EF0B1A648FF">
                <File Id="fil3CB2D29088DEA7CE1D31A8BE7A939C0A" KeyPath="yes" Source="requisites\php\sasl2\saslANONYMOUS.dll" />
            </Component>
            <Component Id="cmp490CBAE11A4A631A15CE15304DE0A769" Directory="dir54E6D003C6C1B6CDD1271F949C953C1E" Guid="8B493776-4BF6-48E9-8B40-50F58C3265E8">
                <File Id="fil339ED4965F91FC38E29B3DB324452B45" KeyPath="yes" Source="requisites\php\sasl2\saslCRAMMD5.dll" />
            </Component>
            <Component Id="cmp6F0AF4C98E3F11CF1FB7E9C71BF6BF67" Directory="dir54E6D003C6C1B6CDD1271F949C953C1E" Guid="340631F9-2343-476F-8470-86152FBE4BC2">
                <File Id="filB4AB30992CBEB293B4669F8BC04FDB35" KeyPath="yes" Source="requisites\php\sasl2\saslDIGESTMD5.dll" />
            </Component>
            <Component Id="cmpA7A1EB48508C24D8D06644AC07227891" Directory="dir54E6D003C6C1B6CDD1271F949C953C1E" Guid="2670E816-51C9-43BF-A8E7-B93523957392">
                <File Id="filE53733F5B077CF6ECFEC789D941CAFC4" KeyPath="yes" Source="requisites\php\sasl2\saslLOGIN.dll" />
            </Component>
            <Component Id="cmpE79FC4ECC26A595D68FC576D4C64B6CE" Directory="dir54E6D003C6C1B6CDD1271F949C953C1E" Guid="AC8F5CED-93E7-42D9-8494-A35E33715A11">
                <File Id="filFD5779C9FB321E247ACF5FB60C1CF3ED" KeyPath="yes" Source="requisites\php\sasl2\saslNTLM.dll" />
            </Component>
            <Component Id="cmp9B16AB65D7F673761439DA67FE4776DB" Directory="dir54E6D003C6C1B6CDD1271F949C953C1E" Guid="B146C781-F7DE-4D53-A49D-229BE5151A2C">
                <File Id="fil40C7BC9451575285522975750FCCE2F6" KeyPath="yes" Source="requisites\php\sasl2\saslOTP.dll" />
            </Component>
            <Component Id="cmpE135CC7279FB3DF2EB5EBF5CA3B7725A" Directory="dir54E6D003C6C1B6CDD1271F949C953C1E" Guid="5E7B63F1-4F31-4C6C-B660-1D4F527AC37F">
                <File Id="fil544E5BF80B7463618DE41C87FBB69B99" KeyPath="yes" Source="requisites\php\sasl2\saslPLAIN.dll" />
            </Component>
            <Component Id="cmpCC2ED11EFBDC24825B959D471B7413B6" Directory="dir54E6D003C6C1B6CDD1271F949C953C1E" Guid="D54FEF22-56EC-4132-B9B0-2A48D8EDF827">
                <File Id="fil263361C3F00988B116497140C4A407A0" KeyPath="yes" Source="requisites\php\sasl2\saslSCRAM.dll" />
            </Component>
            <Component Id="cmpDFA9DE86CE6FA5764B40630A361CBF34" Directory="dir54E6D003C6C1B6CDD1271F949C953C1E" Guid="455C94A1-D166-423C-82B3-2433C7D3B411">
                <File Id="filD9BE3DC1AEB51A068BC2DC98656F788F" KeyPath="yes" Source="requisites\php\sasl2\saslSQLITE.dll" />
            </Component>
            <Component Id="cmp5E4D9BB5F3854BC5434C2512F839D6F4" Directory="dir54E6D003C6C1B6CDD1271F949C953C1E" Guid="7A93F4F4-3C62-456E-8E61-FA99F9592749">
                <File Id="filB98E9FA3ED59B0150F4E0B4B317192C1" KeyPath="yes" Source="requisites\php\sasl2\saslSRP.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirDABE28A6579C01DDFCEB4DECAFEA7866">
            <Directory Id="dirACC23EAE43D0C068259FA2C5D409C9C2" Name="ssl" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF72838C35656A854BD9E78DEFE377913">
            <Directory Id="dirDCD70B317DD8474D71E02595D52ACA76" Name="enchant" />
        </DirectoryRef>
    </Fragment>
</Wix>